@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "https://fonts.googleapis.com/css?family=Raleway:400,700,800";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800";
@import "https://fonts.googleapis.com/css?family=Montserrat:500,600";
@import "https://fonts.googleapis.com/css?family=Raleway:500,600";
@font-face {
  font-family: "Cybero";
  src: url("../fonts/cybero.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BodyFont";
  src: url("../fonts/Monocode.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CyberPrince";
  src: url("../fonts/CYBERFREIGHT-Normal.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: black;
  font-family: "CyberPrince", sans-serif !important;
}
.text-green {
  color: linear-gradient(to right, #00bf11, #00a2ff, #cd8bfb);
}
